*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONTENITORI */
.main-conteiner{
    width: 1200px;
    margin: 0 auto;  
}

.subconteiner{
    width: 600px;
    margin: 0 auto;
}

/* HEADER */
.top-header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: grey;
}

.top-header img{
    line-height: 100px;
    vertical-align:middle;

}

.top-header h1{
    display:inline;
    font-size: 50px;
    line-height: 100px;
    vertical-align:middle;
}

.main-header{

}

.task{
    color: white;
    background-color: blue;
    border: 1px solid grey;
    width:100px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;  
    padding: 5px;  
    margin-top: 20px;
}

.section{
    color: white;
    background-color: blue;
    border: 1px solid grey;
    width:100px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;
    padding: 5px; 
    margin-top: 20px; 
}

/* TO DO LIST */

.title-summary{
    font-size: 30px;
}

details p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.type-task{
 border: 1px solid;
 border-radius: 15%;
 line-height: 5px;
 vertical-align: bottom;
 margin-right: 10px;
 font-size: 12px;
 color: white;
 padding: 3px;

}

.sales{
    background-color: red;
    border-color: red;

}

.editorial{
    background-color: blue;
    border-color:blue;

}

.goals{
    background-color:purple;
    border-color: purple;
}

.mobile{
    background-color:orange;
    border-color:orange;

}

.recruiting{
    background-color:green;
    border-color:green;

}

.cross{
color:red;
border-radius: 50%;
border: 1px solid red;
line-height: 10px;
vertical-align: bottom;
margin-right: 10px;
font-size: 15px;

}

.check{
    color: green;
    border: 1px green solid;
    border-radius: 50%;
    line-height: 10px;
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 15px;

}