/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #9da4a7;
}
/* CONTENITORI */
.main-conteiner{
    width: 100%
}

.subconteiner{
    width: 600px;
    height: 550px;
    margin: 40px auto;
    background-color: #FFFFFF;
    border-radius: 2%;
}

/* HEADER */
#top-header{
    width: 100%;
    height: 100px;
    background-color:#FFFFFF ;
    line-height: 100px;
}

#top-header img{
    vertical-align:middle;
}

#top-header h1{
    display:inline;
    font-size: 50px;
    vertical-align:middle;
}

#header-btn{
    height: 60px;
    border-bottom: 2px solid grey;
    line-height: 60px;}

.task{
    color: white;
    background-color:blue;
    border: 1px solid grey;
    width:80px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;  
    padding: 5px; 
    vertical-align: middle;
    margin-left: 10px;
}

.section{
    color: white;
    background-color: blue;
    border: 1px solid grey;
    width:90px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;
    padding: 5px; 
    vertical-align: middle;

}

/* TO DO LIST */

.title-summary{
    font-size: 30px;
}

details p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.type-task{
 border: 1px solid;
 border-radius: 15%;
 line-height: 5px;
 vertical-align: bottom;
 margin-right: 10px;
 font-size: 12px;
 color: white;
 padding: 3px;

}

.sales{
    background-color: red;
    border-color: red;

}

.editorial{
    background-color: blue;
    border-color:blue;

}

.goals{
    background-color:purple;
    border-color: purple;
}

.mobile{
    background-color:orange;
    border-color:orange;

}

.recruiting{
    background-color:green;
    border-color:green;

}

.cross{
color:red;
border-radius: 50%;
border: 1px solid red;
line-height: 10px;
vertical-align: bottom;
margin-right: 10px;
font-size: 15px;

}

.check{
    color: green;
    border: 1px green solid;
    border-radius: 50%;
    line-height: 10px;
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 15px;

}